Penoiu_Teodora_Cristina/tema-3/fisa-inscriere.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT FISA (ELEV*)>
<!ELEMENT ELEV (NUME, PRENUME, CLASA, EMAIL, SCOALA?, LICEU?) >
<!ATTLIST ELEV cnp CDATA #REQUIRED >
<!ELEMENT NUME (#PCDATA) >
<!ELEMENT PRENUME (#PCDATA) >
<!ELEMENT CLASA (#PCDATA) >
<!ATTLIST CLASA sectiune (incepator|avansat) #REQUIRED >
<!ELEMENT EMAIL (#PCDATA) >
<!ELEMENT SCOALA (#PCDATA) >
<!ELEMENT LICEU (#PCDATA) >